In [74]:
firstName = "Timothy"
lastName = "Afolabi"
print(firstName+' '+lastName)
print("Hello World!")

Timothy Afolabi
Hello World!

In [75]:
print(79)

79

In [76]:
# In this place I would like to print my name
print("Tim Afolabi")
#of course, you can see that this will print the name I specified

Tim Afolabi

In [77]:
acc_balance = 1000
acc_balance_2 = "100"
# print("Your total account balance is: "+acc_balance+acc_balance_2)

In [78]:
acc_balance = "1000"
type(acc_balance)

str

In [79]:
department1 = "Computer Science"
age = 12

In [80]:
print("Hooray, our first class has started")

Hooray, our first class has started

In [81]:
type(department1)

str

In [82]:
type(3.4555)

float

In [83]:
type(False)

bool

In [84]:
firstName = "timothy"
state = "oYO";
print(firstName.upper())
print(firstName.lower())
print(firstName.title())
print(state.title())

TIMOTHY
timothy
Timothy
Oyo

In [85]:
name = "Oluwasegun Odunayo"
name.upper().count('O')

3

In [86]:
place = "Abulu Egba"
place.replace("lu","le")

'Abule Egba'

In [87]:
message_1 = "I'm learning Python"
message_2 = "and it is fun";
full_message = message_1+" "+message_2+" are we not beautiful?"+" Debby is the only lady in this clas"
print(full_message)
print(message_1,message_2)

I'm learning Python and it is fun are we not beautiful? Debby is the only lady in this clas
I'm learning Python and it is fun

In [88]:
school = "Metro Hub"
print(f'I am enjoying this class at {school}')

I am enjoying this class at Metro Hub

In [89]:
test = f"{message_1}"
print(test)

I'm learning Python

In [90]:
word = "Programming"
word[3:8]

'gramm'

In [91]:
my_string = "Hello, World!"
length = len(my_string)
print(length)  # Output: 13

13

# String Splitting

In [92]:
sentence = "Learn Python programming"
words = sentence.split()  # ["Learn", "Python", "programming"]
print(words)

['Learn', 'Python', 'programming']

In [93]:
sentence = "Learn Python programming"
words = sentence.split("Python")  # ["Learn", "Python", "programming"]
print(words)

['Learn ', ' programming']

## Joining Strings

In [94]:
words = ["Python", "is", "fun"]
sentence = " ".join(words)
print(sentence)  # Output: "Python is fun"

Python is fun

# Find Function

In [95]:
sentence = "I love Python programming"
index = sentence.find("Python")
print(index)  # Output: 7

7

# String Slicing

In [96]:
#Basic slicing
my_string = "Python Programming"
sliced = my_string[0:6]  # Extracts characters from index 0 to 5
print(sliced)  # Output: "Python"

#reversing a string
my_string = "Hello, World!"
reversed_string = my_string[::-1]  # Reverses the string
print(reversed_string)  # Output: "!dlroW ,olleH"

Python
!dlroW ,olleH

# String Indexing

In [97]:
#Positive Indexing
my_string = "Hello, World!"
first_character = my_string[0]  # Accesses the first character
print(first_character)  # Output: "H"

#Negative Indexing
my_string = "Hello, World!"
last_character = my_string[-1]  # Accesses the last character
print(last_character)  # Output: "!"

H
!

In [98]:
print("She says \"Hello\"")

She says "Hello"

# Escape Characters

In [99]:
#Include Quotes
my_string = "She said, \"Hello!\""
print(my_string)  # Output: She said, "Hello!"

#Include Newline Character
my_string = "Hello, World!\nWelcome to Python."
print(my_string)  
# Output: 
# Hello, World!
# Welcome to Python.

#Include Tab Space
my_string = "Hello, World!\tWelcome to Python."
print(my_string)  
# Output: 
# Hello, World!    Welcome to Python.

She said, "Hello!"
Hello, World!
Welcome to Python.
Hello, World!	Welcome to Python.

# In operator

In [100]:
my_string = "I love programming in Python."
is_present = "Python" in my_string
print(is_present)  # Output: True

my_string = "Hello, World!"
is_present = "hello" in my_string
print(is_present)  # Output: False

True
False

In [101]:
countries = ['United States','India','China','Brazil']
print(*countries)

United States India China Brazil

In [102]:
countries

['United States', 'India', 'China', 'Brazil']

In [103]:
countries.clear()

In [104]:
countries

[]

In [105]:
print("  *  ")
print("  *  ")
print("*****")
print("  *  ")
print("  *  ")

  *
  *
*****
  *
  *

In [106]:
# Stylized letter O
print("  ***  ")
print(" *   * ")
print("*     *")
print(" *   * ")
print("  ***  ")

  ***
 *   *
*     *
 *   *
  ***

In [107]:
print("   ***     ***   ")
print(" *******   ******* ")
print("********* *********")
print("*******************")
print(" ***************** ")
print("  **************** ")
print("   *************** ")
print("     *************  ")
print("       *********    ")
print("         *****      ")
print("          ***       ")
print("           *        ")

   ***     ***
 *******   *******
********* *********
*******************
 *****************
  ****************
   ***************
     *************
       *********
         *****
          ***
           *

In [108]:
name = 12
str(name)

'12'

In [109]:
print("\t*")
print("\t*")
print("\t*")
print("\t*")
print("\t*")
print("\t*")
print("\t**************")

	*
	*
	*
	*
	*
	*
	**************

In [110]:
#I am printing Letter O. Just testing my understanding of the concepts so far
print("   ****     ")
print("  *     *")
print(" *       *")
print("*         *")
print("*         *")
print("*         *")
print(" *      *")
print("   ****")

   ****
  *     *
 *       *
*         *
*         *
*         *
 *      *
   ****

In [112]:
# Function to check if a year is a leap year
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    return False

# Get user input for the range of years
start_year = int(input("Enter the start year: "))
end_year = int(input("Enter the end year: "))

# Loop through the range and print leap years
print(f"Leap years between {start_year} and {end_year}:")
for year in range(start_year, end_year + 1):
    if is_leap_year(year):
        print(year)

Enter the start year:  2023
Enter the end year:  2024

Leap years between 2023 and 2024:
2024

# Creating a Tuple

In [113]:
# Creating a tuple with integers
numbers = (1, 2, 3, 4)

# Creating a tuple with mixed data types
person = ("Alice", 30, "Engineer")

# Creating an empty tuple
empty_tuple = ()

# Accessing Elements in a Tuple

In [114]:
# Accessing elements by index
fruits = ("apple", "banana", "cherry")
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana

# Accessing the last element with negative indexing
print(fruits[-1])  # Output: cherry

apple
banana
cherry

# Tuple Slicing

In [115]:
# Slicing a tuple
numbers = (10, 20, 30, 40, 50)
slice_numbers = numbers[1:4]  # Extracts elements from index 1 to 3
print(slice_numbers)  # Output: (20, 30, 40)

# Slicing with a step
step_slice = numbers[::2]  # Extracts every second element
print(step_slice)  # Output: (10, 30, 50)

(20, 30, 40)
(10, 30, 50)

In [116]:
# Tuple unpacking
person = ("John", 25, "Male")
name, age, gender = person

print(name)   # Output: John
print(age)    # Output: 25
print(gender) # Output: Male

John
25
Male

In [117]:
# Nested tuple
nested_tuple = (1, (2, 3), (4, 5, 6))

# Accessing elements in a nested tuple
print(nested_tuple[1])    # Output: (2, 3)
print(nested_tuple[2][1]) # Output: 5

(2, 3)
5

In [118]:
# Tuple methods
numbers = (1, 2, 3, 2, 4, 2)

# Count occurrences of 2
print(numbers.count(2))  # Output: 3

# Find the index of the first occurrence of 3
print(numbers.index(3))  # Output: 2

3
2

In [119]:
# Modifying a tuple (indirectly)
my_tuple = (10, 20, 30)
my_list = list(my_tuple)  # Convert tuple to list
my_list[1] = 25           # Modify the list
my_tuple = tuple(my_list)  # Convert back to tuple

print(my_tuple)  # Output: (10, 25, 30)

(10, 25, 30)

In [120]:
if condition:
    # Code block for if
elif another_condition:
    # Code block for elif
else:
    # Code block for else

IndentationError: expected an indented block after 'if' statement on line 1 (2323292552.py, line 3)

In [121]:
age = 18

if age < 18:
    print("You are a minor.")
elif age == 18:
    print("You just became an adult!")
else:
    print("You are an adult.")

You just became an adult!

In [122]:
age = 20
has_id = True

if age >= 18:
    if has_id:
        print("You are allowed to vote.")
    else:
        print("Please provide an ID to vote.")
else:
    print("You are too young to vote.")

You are allowed to vote.

In [123]:
for letter in "timothy":
    print(letter,end="")

timothy

In [124]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [125]:
counter = 1

while counter <= 5:
    print("Count:", counter)
    counter += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [126]:
print("djdj")

djdj

In [127]:
for num in range(1, 10):
    if num == 5:
        break
    print(num)

1
2
3
4

In [128]:
for num in range(1, 6):
    if num == 3:
        continue
    print(num)

1
2
4
5

In [129]:
for num in range(1, 6):
    if num == 3:
        pass  # Placeholder, no action taken
    else:
        print(num)

1
2
4
5

In [156]:
our_name = "Babajide Tanimomo"
sliced_bread = our_name[1:2:1]
print(sliced_bread)

a

In [175]:
my_name = "nigeria"
first_four = my_name[::-1]
print(first_four)

airegin

In [148]:
print("\"Hello\"")
print("Hello")
print("\tHello")
sentence_with_para = "My name is John DOe. I live in Gwagwalada. I belong to the Tinubu Family.\nWe are buying the next Unicorn in Africa"
print(sentence_with_para)

"Hello"
Hello
	Hello
My name is John DOe. I live in Gwagwalada. I belong to the Tinubu Family.
We are buying the next Unicorn in Africa

In [ ]:
#1. USe a \t in your string
#2. Use a \" in your string
#3. Use a \n in your string.
#Do it anyway you prefer. The ball is in your court!!!

In [182]:
my_string = "I love python programming"
searchWord = "LOVE"
is_love_in_text = "ola" in "Afolabi"
print(is_love_in_text)

True

In [224]:
student_names = ["Akinwale","Feyi","Biyi","Adepoju","Tolu","Israel","Godwin","Badru","Mosak","Ola"]
south_west_states = ["Ogun","Oyo","Osun","Ekiti","Ondo","Lagos"]
print("Number of students in class: "+str(len(student_names)))
print("Number of states in SW: "+str(len(south_west_states)))
student_names[-2]

Number of students in class: 10
Number of states in SW: 6

'Mosak'

In [238]:
# student_names.append("Julius")
student_names.insert(1,"Timothy")
print(student_names)
len(student_names)

['Akinwale', 'Timothy', 'Feyi', 'Biyi', 'Adepoju', 'Tolu', 'Israel', 'Godwin', 'Badru', 'Mosak', 'Ola', 'Tim', 'Ade', 'Julius', 'Julius', 'Julius', 'Julius', 'Julius', 'Julius', 'Julius', 'Julius', 'Julius', 'Julius']

23

In [239]:
vowel = ["a","e","i","o","u"]
consonant = ["b","c","d","f"]
vowel_and_consonant = vowel+consonant
print(vowel_and_consonant)

['a', 'e', 'i', 'o', 'u', 'b', 'c', 'd', 'f']

In [244]:
nested_sounds = [vowel,consonant]
print(nested_sounds)
print(nested_sounds[0])
print(nested_sounds[-1])

[['a', 'e', 'i', 'o', 'u'], ['b', 'c', 'd', 'f']]
['a', 'e', 'i', 'o', 'u']
['b', 'c', 'd', 'f']

In [246]:
vowel.pop(-1)
print(vowel)

['e', 'i', 'o']

In [247]:
del vowel[0]
print(vowel)

['i', 'o']

In [259]:
number = [9,5,1,2,0,12]
print("original number",number)
number.sort()
print("sorted number is:",number)
number.sort(reverse=True)
print("sorted number Descending:",number)

original number [9, 5, 1, 2, 0, 12]
sorted number is: [0, 1, 2, 5, 9, 12]
sorted number Descending: [12, 9, 5, 2, 1, 0]

In [262]:
letters = ["Ade","Bimpe","Ayodele","Ayo","Ojo","Dami","Titus"]
letters.sort()
print("sorted letter:",letters)

sorted letter: ['Ade', 'Ayo', 'Ayodele', 'Bimpe', 'Dami', 'Ojo', 'Titus']

In [267]:
#Area of a rectangle is length x breadth
len = float(input("Enter your length"))
breadth = float(input("Enter your breadth"))
Area = len * breadth
print("The area of a rectangle is:",Area)

Enter your length 10
Enter your breadth 10

The area of a rectangle is: 100.0

In [270]:
#circumference of a circle 2 Pie R
pie = 3.1415
r = float(input("Enter the value for R"))
Circum = 2 * pie * r
print("Circumference of the cirlce is:",Circum)

Enter the value for R 1

Circumference of the cirlce is: 6.283

In [271]:
import math

# Input the lengths of the two legs
a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))

# Calculate the hypotenuse
c = math.sqrt(a**2 + b**2)

# Output the result
print("The hypotenuse is:", c)

Enter the length of side a:  10
Enter the length of side b:  10

The hypotenuse is: 14.142135623730951

In [1]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("Loop completed successfully.")  # This will not execute

0
1
2

In [2]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [3]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

1 apple
2 banana
3 cherry

In [7]:
5//3

1

In [8]:
#Addition
x = 10
y = 5
result = x + y  # 15
print(result)

15

In [9]:
#Addition
x = 10
y = 5
result = x - y  # 5
print(result)

5

In [10]:
#Multiplication
x = 10
y = 5
result = x * y  # 50
print(result)

50

In [11]:
#Division
x = 10
y = 5
result = x / y  # 2.0
print(result)

2.0

In [12]:
#Floor Division
x = 10
y = 3
result = x // y  # 3
print(result)

3

In [13]:
#Modulus operator
x = 10
y = 3
result = x % y  # 1
print(result)

1

In [14]:
#Exponentiation
x = 2
y = 3
result = x ** y  # 8 (2 raised to the power of 3)
print(result)

8

In [15]:
x = 10
x += 5  # Equivalent to: x = x + 5
print(x)  # Output: 15

15

In [16]:
result = 3 + 2 * 5 ** 2 - 8 // 4
# PEMDAS order:
# 5 ** 2 = 25
# 2 * 25 = 50
# 8 // 4 = 2
# 3 + 50 - 2 = 51
print(result)  # Output: 51

51

In [17]:
import math
result = math.sqrt(25)  # 5.0
print(result)

5.0

In [19]:
result = math.pow(2, 3)  # 8.0 (same as 2**3)
print(result)

8.0

In [20]:
result = math.ceil(4.3)  # 5
print(result)

5

In [21]:
result = math.floor(4.7)  # 4
print(result)

4

In [22]:
result = abs(-7)  # 7
print(result)

7

In [23]:
result = math.factorial(5)  # 120 (5 * 4 * 3 * 2 * 1)
print(result)

120

In [24]:
import random

# Generate a random integer between 1 and 10
rand_num = random.randint(1, 10)
print(rand_num)

# Generate a random floating-point number between 0 and 1
rand_float = random.random()
print(rand_float)

8
0.5647106457843298

In [25]:
import time

print("Timer started")
time.sleep(5)  # Pause the program for 5 seconds
print("5 seconds later...")

Timer started
5 seconds later...

In [30]:
import time

start_time = time.time()

# Simulate a task
time.sleep(7)

end_time = time.time()
elapsed_time = end_time - start_time
print(f"Elapsed time: {elapsed_time} seconds")

Elapsed time: 7.0053770542144775 seconds

In [31]:
import threading

def my_function():
    print("This runs after 3 seconds!")

# Set a timer for 3 seconds and then call `my_function`
timer = threading.Timer(3.0, my_function)
timer.start()

print("Timer started...")

Timer started...
This runs after 3 seconds!

In [35]:
import timeit

# Measure the time taken to execute the code 10,000 times
execution_time = timeit.timeit('"-".join(str(n) for n in range(100))', number=10000)
print(f"Execution time: {execution_time} seconds")

Execution time: 0.14023424999322742 seconds

In [56]:
list = [1,2,3,14]
list[0] = "Afo" #updating list should be ['Afo',2,3,14]
myname = "Afolabi"
first_2 = myname[0:2] #slicing result should Af
first_2_list = list[:] #copying ['Afo',2,3,14]
first_2_list[1] = 77 # ['Afo',77,3,14]
# what_i_popped = first_2_list.pop(0)
del first_2_list[0]
print(what_i_popped)
print(first_2)
print(first_2_list)

Afo
Af
[77, 3, 14]

In [59]:
name = "Adeojo"
name = name[3:]
print(name)

ojo

In [62]:
names = ['A','B','E','Z','X','O','D']
names.sort(reverse=True)
print(names)

['Z', 'X', 'O', 'E', 'D', 'B', 'A']

In [73]:
my_school = {'name':'Metro Hub','addr':'Kolapo Ishola','phone':'08077667766','fb':'@metro'}
print(my_school["fb"])

@metro

In [78]:
educational_background = {"primary":"","secondary":"","tertiary":"","post_graduate":""}
educational_background["primary"] = "Valencia"
educational_background.update({"primary":"Concord","tertiary":"FUTA"})
print(educational_background)

{'primary': 'Concord', 'secondary': '', 'tertiary': 'FUTA', 'post_graduate': ''}

In [92]:
gender = "fela"
if gender=="male":
    print("Yes, it is a male")
elif gender=="female":
    print("Is a female")
else:
    print("You are questionable")

You are questionable

In [95]:
age  = 14
if age<18:
    print("You are a minor")
elif age==18:
    print("You just become an adult")
else:
    print("You don turn baba")

You are a minor

In [97]:
score = 69
if score==100:
    print("Grade is: A")
elif score>=70:
    print("Grade is: A")
elif score>=60:
    print("Grade is: B")

Grade is: B

In [113]:
# score is betweeen 70 and 100 =  A ..... done
# score is betweeen 60 and 69 =  B ..... done
# score is betweeen 50 and 59 =  C ..... done
# score is betweeen 45 and 49 =  D .... done
# score is betweeen 40 and 44 =  E  .... done
# score is between 0 and 39  = F
score = -10
if score>=70:
    print("Grade is A")
elif score>=60:
    print("Grade is B")
elif score>=50:
    print("Grade is C")
elif score>=45:
    print("Grade is D")
elif score>=40:
    print("Grade is E")
else:
    print("Grade is F")

Grade is F

In [119]:
# age should be more than or equals to 18
# cut off marke must be greater or equals to 200
score = 300
age = 16
if age>=18:
    if score>=200:
        print("You are qualified")
    else:
        print("You are not qualified. Try again when you score more than 200")
else:
    if(score>=200):
        print("YEs it is true you scored above the cut off. But unfortunately, you are not of age according to Tinubu's government. I am so sorry, I know how you feel")
    else:
        print("You must be over 18 to gain admission")

YEs it is true you scored above the cut off. But unfortunately, you are not of age according to Tinubu's government. I am so sorry, I know how you feel

In [123]:
ram = 6
tuition = "unpaid"
if ram>=8:
    if tuition=="paid":
        print("You are qualified for cybersecurity course")
    else:
        print("You have enough RAM but you are yet to pay for your tuition")
else:
    print("You do not have enough system RAM")

You do not have enough system RAM

In [128]:
english = "E8"
math = "F9"
if english=="C6":
    if math=="C6":
        print("Yes, you are qualified")
    else:
        print("You have C6 in English but you do not have C6 in Math")
else:
    if math=='C6':
        print("You have math but do not have english")
    else:
        print("You are not qualified")

You are not qualified

In [ ]:
sunday_school_score = 5 #pass mark is 70 and above
math_score = 100 #pass mark is 70 and above
#once you score over in either of the 2 you are qualified for a GIFT

In [133]:
if colour == "green":
    print("Approved")
elif colour == "blue":
    print("Still Approved")
else:
    print("Not Approved")

Access granted

In [137]:
A= 20
b= 20
c= A+b
if c>=50:
    print("visa approved")
elif c>=40 or c<49:
    print("you are on probation")

else:
    print("visa denied")

you are on probation

In [143]:
gender ="non binary"
if gender == "male":
    print(" human being")
elif gender == "female":
    print(" human being")
else: 
    print("bobrisky")

bobrisky